node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.coverage
.cache
.DS_Store
*.log
dist
tests
test-db-connection.js
import-mongo-to-pg.ts
*.json
!package.json
!package-lock.json 