node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.DS_Store
logs
.eslintcache
coverage
.vscode
.idea
*.log
*.swp
*.swo
*~
.nyc_output
dist
build
.next
.nuxt
.cache
.parcel-cache
.eslintignore
.prettierignore